import classes from "./{{pascalCase name}}.module.css";

type {{pascalCase name}}Props = {

};

export const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
  return (
    <div className={classes.root}>{{pascalCase name}}</div>
  );
};
